@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #bfc9ca;
  border-radius: 10px;
}
